

















@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* body{    
    margin: 0 !important;
    padding: 0 !important;
}

.ride_list_card{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
border-radius: 37px;
width: 100%;
padding: 5px;
margin-bottom: 20px;

}
.ride_list_card h3 {
    font-size: 20px;
    color:#2E2E2E ;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;   
 

}
.ride_list_card h2 {
    font-size: 23px;
    color:#2E2E2E ;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;   
 

}
.ride_list_card img{
    width: 100%;
    height: auto;
}




.single-ride{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif; 
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
border-radius: 37px; */
width: 100%;
padding: 5px;
}
.single-detail{
    font-family: 'Poppins', sans-serif; 
    color:#2E2E2E;
    text-align: center;
    /* border-left:#939292 double 7px; */
    /* border-right:#939292 double 7px; */
    padding-right: 100px;
    padding-left: 100px;

}




.single-ride h1{
    font-weight: 600;  
    font-size: 45px;
    text-decoration: underline;
    color:#150638 ;
    text-align: center;
    margin-bottom: 0 !important;
}

.single-ride p{
    text-align: center;
    font-weight: 600;  
    font-size:20px;
    color: #f80015;
}

.timeline{
    text-align: left;
}

.css-ha3bif-MuiTimelineItem-root:before {
    content: "" !important;
    -webkit-flex: 0 !important;
    -ms-flex: 0 !important;
    /* flex: 1; */
    /* padding: 6px 16px; */
}


.css-i4bv87-MuiSvgIcon-root {
    color:#f80015 ;
}
.css-ptiqhd-MuiSvgIcon-root {
    color:#f80015 ;
}











.add-vehicle h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #28135D;

}


.user_profile{
    /* margin-top: 100px; */
    color: #28135D;
    font-family: 'Poppins', sans-serif;padding-top: 100px;
}

.user_profile h1{
    font-size: 40px;
    text-align: center;
    
}

.user_profile h3{
    /* font-size: 40px; */
    font-weight: 600;
    padding: 0;
}



.about-form-field {
   border: none;
}

.ride-reqeust{
    font-family: 'Poppins', sans-serif;

}
.ride-reqeust h3{
font-size: 35px;
/* text-align: center; */
color: #28135D;

}

.request-ride-single{
    /* margin-left: 50px; */
}

