.signup{
    color: #28135D;
    font-family: 'Poppins', sans-serif;padding-top: 100px;
    
}
.signup h3{
    font-size: 35px;
    text-align: center;
}
.signup span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}